.connect-panel img{
 max-width: 65px;
}

.portfolioText {
	top: 160px;
	background-color: #4aaaa5;
	text-align: center;
	max-width: 225px;
	max-height: 40px;
	display: block;
	margin: 0 auto;
}


	.photos {
    max-width: 225px;
    display: block;
		margin: 10px auto 0;
}

	#message{
		max-width: 585px;
		max-height: 200px;
	
	}

	body{
		background-image: url("backgroundpicture.png");
		background-size: contain;
	}
	.box{
		background-color: white;
		padding: 10px;
		border: 1px solid;
	}